
/* CUSTOM PROPERTIES */

:root {

    /* Primitive properties */

    --clr-light-cyan: hsl(193, 38%, 86%);
    --clr-neon-green: hsl(150, 100%, 66%);
    --clr-grayish-blue: hsl(217, 19%, 38%);
    --clr-dark-grayish-blue: hsl(217, 19%, 24%);
    --clr-dark-blue: hsl(218, 23%, 16%);

    --clr-black-opacity: rgba(0, 0, 0, 0.25);
    --clr-neon-green-opacity: rgb(from var(--clr-neon-green) r g b / .25);

    --ff-sans-serif: 'Manrope', sans-serif;
    --fw-400: 400;
    --fw-800: 800;

    --fs-16px: 1rem;
    --fs-18px: 1.125rem;
    --fs-20px: 1.25rem;
    --fs-24px: 1.5rem;
    --fs-28px: 1.75rem;
    --fs-32px: 2rem;
    --fs-36px: 2.25rem;

    --size-8px: 8px;
    --size-12px: 12px;
    --size-16px: 16px;
    --size-24px: 24px;
    --size-32px: 32px;
    --size-40px: 40px;
    --size-48px: 48px;
    --size-64px: 64px;
    --size-72px: 72px;

    /* Semantic properties */

    --clr-100: hsl(193, 38%, 86%);
    --clr-200: hsl(150, 100%, 66%);
    --clr-300: hsl(217, 19%, 38%);
    --clr-400: hsl(217, 19%, 24%);
    --clr-500: hsl(218, 23%, 16%);

    --clr-shadow: var(--clr-black-opacity);
    --clr-shadow2: var(--clr-neon-green-opacity);

    --ff-primary: var(--ff-sans-serif);
    --fw-regular: 400;
    --fw-extra-bold: 800;

    --fs-200: var(--fs-16px);
    --fs-225: var(--fs-18px);
    --fs-250: var(--fs-20px);
    --fs-300: var(--fs-24px);
    --fs-350: var(--fs-28px);
    --fs-400: var(--fs-32px);
    --fs-450: var(--fs-36px);

    --size-100: var(--size-8px);
    --size-150: var(--size-12px);
    --size-200: var(--size-16px);
    --size-300: var(--size-24px);
    --size-400: var(--size-32px);
    --size-500: var(--size-40px);
    --size-600: var(--size-48px);
    --size-800: var(--size-64px);
    --size-900: var(--size-72px);

    --btn-width: var(--size-800);
    --btn-radius: calc(var(--btn-width) / 2);
}

